html, body {
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: css_font_color0_hex;
    text-decoration: none;
    text-shadow: none;
    background-color: css_background_color0_hex;
}

.container {
    width: 80%;
    margin: auto;
}
.popup-fullpage {
}
.popup-centerer {
}
