
/* raw_elements ***************************************************************/

html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    color: #000000;
    text-decoration: none;
    text-shadow: none;
    background-color: #ffffff;
}
button {
    min-width: 100px;
    border-width: 0;
    font-family: monospace;
    color: white;
    background-color: #d1d5da;
    margin: 0 0 5px 0;
    padding: 10px;
    border: none;
    display: inline-block;
}
button:hover,
button:focus {
    cursor: pointer;
}

/* popup_modal ****************************************************************/

.popup-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
    text-align: center; 
    overflow: hidden; 
}
.popup-modal {
    border: 1px solid black;
    margin: 100px auto; 
    display: inline-block; 
    padding: 20px;
    border-radius: 20px;
    opacity: 1; 
    background-color: #ffffff 
}

/* layout *********************************************************************/

.page {
    width: 80%;
    margin: auto; 
}

/* header *********************************************************************/

.header {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #d1d5da;
    overflow: hidden;
    font-family: monospace;
    line-height: 18px;
}
.header .centertext {
    display: block;
    text-align: center;
    margin-left: -100000%;
    margin-right: -100000%;
}
.header .centertext span {
    color: #e4e4e4;
}
.header .centertext .textlogo {
    font-weight: bold;
    color: white;
}

/* hexagon_profile_pic ********************************************************/

.hexagon-container {
    position: static;
    width: 100%;
    text-align: center;
}
.hexagon-profile-pic {
    width: 150px;
    position: absolute;
    top: 51px;
    margin-left: -75px;
}

/* edit_profile_pic ***********************************************************/

.edit-profile-pic-popup-content-outer {
    width: 300px;
    text-align: center;
}
.edit-profile-pic-drop-area {
    position: relative;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border: 2px dashed blue;
    display: inline-block; 
}
.edit-profile-pic-dude {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.edit-profile-pic-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.edit-profile-pic-upload + label {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}
.edit-profile-pic-upload + label span {
    display: inline-block;
    margin-top: 45%; 
}
.edit-profile-pic-upload:focus + label,
.edit-profile-pic-upload:focus + label:hover {
    background-color: white;
    opacity: 0.2; 
}
.editProfilePicUploadedImg {
    width: 100%;
    height: 100%;
    display: none; 
}
.edit-profile-pic-button-area {
    width: 100%;
}
