<?php

if (!defined("production_dir")) define("production_dir", $argv[1]);
require_once(production_dir."/css/globals.php");

?>
.header {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: <? echo css_background_color1_hex; ?>;
    overflow: hidden;
    font-family: monospace;
    line-height: <? echo css_header_line_height; ?>px;
}
<?
// the div that centers the text - thanks to stackoverflow.com/a/28233945 with
// some modifications
?>
.header .centertext {
    display: block;
    text-align: center;
    margin-left: -100000%;
    margin-right: -100000%;
}
.header .centertext span {
    color: #e4e4e4;
}
.header .centertext .textlogo {
    font-weight: bold;
    color: white;
}
