<?php

// html to render the profile data inputs

if (!defined("production_dir")) define("production_dir", $argv[1]);
require_once(production_dir."/globals.php");

?>
<div class="profile-data-area">
    <div class="row">
        <label for="profileDataName">Name</label><br>
        <input type="text" id="profileDataName">
    </div>
    <div class="row">
        <label>Birthday</label><br>
        <select id="profileDataBirthDay" class="profile-data-birth-day">
            <option value="" hidden>day</option>
<? for ($day = 1; $day <= 31; $day++) { ?>
            <option value="<? echo $day; ?>"><?
echo $day;
            ?></option>
<? } ?>
        </select>
        <select id="profileDataBirthMonth" class="profile-data-birth-month">
            <option value="" hidden>month</option>
<?
$any_year = 2000;
for ($month = 1; $month <= 12; $month++)
{
?>
            <option value="<? echo $month; ?>"><?
echo date("F", mktime(0, 0, 0, $month, 1, $any_year));
            ?></option>
<? } ?>
        </select>
        <select id="profileDataBirthYear" class="profile-data-birth-year">
            <option value="" hidden>year</option>
<?
$current_year = date("Y");
$earliest_year = $current_year - max_human_age;
for ($year = $current_year; $year >= $earliest_year; $year--)
{
?>
            <option value="<? echo $year; ?>"><? echo $year; ?></option>
<? } ?>
        </select>
        <span id="profileDataBirthdayError" class="profile-data-birthday-error"></span>
    </div>
    <div class="row">
        <label for="profileDataCity">City</label><br>
        <input type="text" id="profileDataCity">
    </div>
    <div class="row">
        <label for="profileDataCountry">Country</label><br>
        <input type="text" id="profileDataCountry">
    </div>
    <div class="row">
        <button id="profileDataClearAll">clear all</button>
        <button id="profileDataSave">save</button>
        <button id="profileDataCancel">cancel</button>
    </div>
</div>
