<?php

// html for creating/showing/updating/deleting the profile picture

if (!defined("processing_dir")) define("processing_dir", $argv[1]);
require_once(processing_dir."/functions.php");

?>
<div id="editProfilePic" class="edit-profile-pic-popup-content-outer">
    <p>edit profile picture</p>
    <div id="editProfilePicDropArea" class="edit-profile-pic-drop-area">
        <object
            id="editProfilePicDude"
            type="image/svg+xml"
            class="edit-profile-pic-dude"
            data="<? echo qs_link("/images/dude.svg"); ?>"
        ></object>
        <input
            type="file"
            id="editProfilePicUpload"
            class="edit-profile-pic-upload"
            accept="image/*"
        >
        <label for="editProfilePicUpload">
            <span>click to upload</span>
        </label>
        <img id="editProfilePicUploadedImg" class="editProfilePicUploadedImg">
    </div>
    <div class="edit-profile-pic-button-area">
        <button id="editProfilePicChange" style="display:none;">change</button>
        <button id="editProfilePicCrop" style="display:none;">crop</button>
        <button id="editProfilePicDone">done</button>
        <button id="editProfilePicCancel">cancel</button>
    </div>
</div>
