<?php

// html to render the dashboard header consisting of random alphanumeric
// characters with the site name centered on the 2nd row from the top

if (!defined("production_dir")) define("production_dir", $argv[1]);
require_once(production_dir."/html/globals.php");
require_once(production_dir."/functions.php");

?>
<div class="header">
<?
for ($row = 0; $row < layout_header_num_lines; $row++)
{
    $center_text = null;
    if ($row == 1) $center_text = '</span><span class="textlogo">frontID</span><span>';
?>
    <div class="centertext">
        <span><? echo random_b64(1000, $center_text); ?></span>
    </div>
<? } ?>
</div>
